@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-canvas-white: #ffffff;
  --color-tlahu-blue: #3A85AC;
  --color-tlahu-gold: #D5B35F;
  --color-tlahu-clay: #AA642A;
  --color-off-white: #FEFFFC;
  --color-ash-gray: #F9FAF7;
  --color-cool-gray: #EEF1ED;
  --color-dark-charcoal: #111827;
  --color-slate-gray: #4B5563;

  --font-display: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;
}